@import './base/variables';
@import './componentes/footer';




h1{
    color: #1F618D;
}
nav{
    display: flex;
    padding: 20px 30px;
    list-style: none;
    color: #0b5383f6;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 200%;
    font-style: oblique;
    li{
        padding: 5%;
    }

}
