%parametros{
    display: flex;
    padding: 20px 30px;
    flex-direction: row;
    list-style: none;
    color: #1F618D;
}
.menu{
    @extend %parametros;
    
    li{
        font-size: 150%;
        font-style: oblique;
        font-weight: bold;
        display: inline-block;
        text-align: center;
        padding: 14px 20px;
    }    
    
}