$footer:(
    decoration: none,
    border: 1px solid 
);
$font-colors:("red":red, "blue":blue, "green":green, "pink":pink, "black":black );

@each $name, $color in $font-colors {
    .font-#{$name}{
        color:$color;
    }
}