@import '../base/variables';
@import '../base/listas';

footer{
    padding:  35px  70px ;
    text-align: center;
    text-decoration: none;
    color :  $cf-celeste ;
    font-size:  nth($size, 2);
    font-weight: bold;
    list-style: none;
}